SUPABASE_URL=https://iretftgjvpljqyfixmow.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_IDS=YOUR_TELEGRAM_BOT_IDS

MQTT_URL=mqtt://broker.hivemq.com:1883
MQTT_SENSOR_TOPIC=ta/reaktor/data_sensor
PORT=3000